@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

h1 {
    color: seagreen;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

#error{
    color: red;
}

h2{
    color: blue;
}

body {
    background-image: url(https://cdn.wallpapersafari.com/16/33/XhB6bn.jpg);
}