@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EFCapstone___To_Do.Models.ToDoList.AddTaskViewModel
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />

    <h2>CURRENT USER ACCOUNT: @Model.UserAccount</h2>

<br/>

<form asp-controller="ToDoList" asp-action="TaskList" method="post">

    <br />

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>

    <div>
        <label asp-for="DueDate"></label>
        <input asp-for="DueDate" />
    </div>


    <div>
            <label>TASK COMPLETE? </label><span></span>

            <label asp-for ="IsDone" class="form-check-inline">
                <input asp-for ="IsDone" type="checkbox"  value="YES" class="form-check-input">
                YES
            </label>

            <label asp-for ="IsChecked" class="form-check-inline">
                <input asp-for ="IsDone" type="checkbox" value="NO" class="form-check-input">
                NO
            </label>
        </div>

    <br />

    <button class="btn btn-dark">ADD TASK</button>

</form>