@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />

<h1>THANK YOU FOR REGISTERING! PLEASE PROCEED BY LOGGING AT THE LINK ABOVE</h1>