@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GET 'ER DONE!</h1>
    <p><em>Where you can layout and track all of your tasks while freeing your mind to remember other things!</em></p>
    
</div>
